<div id="<%= dom_id volunteer %>">
  <p>
    <strong>Person:</strong>
    <%= volunteer.person %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= volunteer.event %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= volunteer.role %>
  </p>

</div>
