<div class="w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto">
	<div class="justify-center items-center bg-white mx-auto rounded-lg my-4 p-4 lg:p-16">
    <h1>Editing person</h1>

    <%= render "form", person: @person %>

    <br>

    <div>
      <%= link_to "Send welcome email", welcome_person_path(@person) %> |
      <%= link_to "Show this person", @person %> |
      <%= link_to "Back to people", people_path %>
    </div>
  </div>
</div>
