<div class="w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto pb-8">
  <h1 class="text-center text-2xl font-bold text-purple-600 transition duration-500 mb-4">New person</h1>

  <%= render "form", person: @person %>

  <br>

  <div>
    <%= link_to "Back to people", people_path %>
  </div>
</div>
