<h1>Banners</h1>

<div id="banners">
  <% @banners.each do |banner| %>
    <%= render banner %>
    <p>
      <%= link_to "Edit this banner", edit_banner_path(banner) %>
    </p>
  <% end %>
</div>

<%= link_to "New banner", new_banner_path %>
