<div id="<%= dom_id result %>">
  <p>
    <strong>Person:</strong>
    <%= result.person || "Unknown" %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= result.event %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= result.time_string %>
  </p>

</div>
