<h1>Results</h1>

<div id="results">
  <% @results.each do |result| %>
    <%= render result %>
    <p>
      <%= link_to "Show this result", event_result_path(result.event, result) %>
    </p>
  <% end %>
</div>

<%= link_to "New result", new_event_result_path %>
<br>
<%= link_to "New volunteer", new_event_volunteer_path %>
