<%= render @result %>

<div>
  <%= link_to "Edit this result", edit_event_result_path(@event, @result) %> |
  <%= link_to "Back to results", event_results_path(@event) %>

  <%= button_to "Destroy this result", event_result_path(@event, @result), class: "px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800", method: :delete, data: { turbo_confirm: "Are you sure you want to delete?" } %>
</div>
