<header>
  <nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 bg-white">
  	<div>
   		<a href="/" class="text-purple-600 no-underline hover:text-purple-800 hover:no-underline text-2xl pl-8 lg:pl-32">
				NW5k
  		</a>
  	</div>
  	<svg xmlns="http://www.w3.org/2000/svg" id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block" fill="none" viewbox="0 0 24 24" stroke="currentColor">
   		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
  	</svg>
  	<div class="hidden w-full md:flex md:items-center md:w-auto pr-8 lg:pr-32" id="menu">
   		<ul class="pt-4 text-base md:flex md:justify-between md:pt-0">
				<li> <a class="md:p-4 py-2 block text-purple-600 no-underline hover:text-purple-800 hover:no-underline" href="/">Home</a> </li>
				<li> <a class="md:p-4 py-2 block text-purple-600 no-underline hover:text-purple-800 hover:no-underline" href="/course">Course</a> </li>
			  <li> <a class="md:p-4 py-2 block text-purple-600 no-underline hover:text-purple-800 hover:no-underline" href="/results">Results</a> </li>
   		</ul>
  	</div>
 	</nav>
</header>

<div class="w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto">
	<div class="justify-center items-center bg-white mx-auto rounded-lg my-4 p-4 lg:p-16">
		<h1 class="text-3xl font-medium py-2"><%= "Event #{@event.number} - #{@event.date}" %></h1>
    <table class="table-auto w-full my-4">
      <thead>
        <tr class="bg-purple-400 text-xl font-medium text-center">
          <th>Place</th>
          <th class="text-left">Participant</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each_with_index do |result, index| %>
          <tr class="text-center text-xl hover:bg-purple-200 hover:text-purple-800">
            <td><%= index + 1 %></td>
            <td class="text-left"><%= result.person %></td>
            <td><%= time_as_string(result.time) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2 class="font-bold text-purple-600 text-sm">What's with the weird names?</h2>
		<p class="text-sm py-2">Participant names are not public by default. For all new participants, a pseudonym is randomly generated for their public display name. We'll let participants edit their own display name soon!</p>
	</div>
</div>
