<header>
  <nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 bg-white">
  	<div>
   		<a href="/" class="text-purple-600 no-underline hover:text-purple-800 hover:no-underline text-2xl pl-8 lg:pl-32">
				NW5k
  		</a>
  	</div>
  	<svg xmlns="http://www.w3.org/2000/svg" id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block" fill="none" viewbox="0 0 24 24" stroke="currentColor">
   		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
  	</svg>
  	<div class="hidden w-full md:flex md:items-center md:w-auto pr-8 lg:pr-32" id="menu">
   		<ul class="pt-4 text-base md:flex md:justify-between md:pt-0">
				<li> <a class="md:p-4 py-2 block text-purple-600 no-underline hover:text-purple-800 hover:no-underline" href="/">Home</a> </li>
				<li> <a class="md:p-4 py-2 block text-purple-600 no-underline hover:text-purple-800 hover:no-underline" href="course">Course</a> </li>
			  <li> <a class="md:p-4 py-2 block text-purple-600 no-underline hover:text-purple-800 hover:no-underline" href="results">Results</a> </li>
   		</ul>
  	</div>
 	</nav>
</header>

<div class="w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto">
	<div class="justify-center items-center bg-white mx-auto rounded-lg my-4 p-4 lg:p-16">
		<h1 class="text-2xl font-medium py-2">The Course</h1>
		<p class="py-2">The course is located in Borey New World, Wat Samraoung Andaet (Phnom Penh, Cambodia). It is 5km long and run entirely on quiet, internal roads. The course consists of 3 loops of the borey.</p>
		<p class="py-2">The course starts and finishes near the park, just inside the western gate which is permanently closed. From the starting line, head south alongside the park, turn left onto street 3 and run along street 3 to the centre road. Turn left and run along the right hand side of the centre road towards the main gate. Before you get to the main gate, turn right onto street 1 and head east along street 1 until you reach the turnaround point, nearly at the end of street 1. After turning around, head back west along street 1, past both gates and all the way to the park. When you reach the park you've completed one loop. Turn left and complete two more loops. At the end of the third loop, runners turn right instead of left and head towards the start/finish line.</p>
		<%= image_tag "course.png", class: "mx-auto" %>
	</div>
</div>

<div class="w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto">
	<div class="justify-center items-center bg-white mx-auto rounded-lg my-4 p-4 lg:p-16">
		<h1 class="text-2xl font-medium">Getting There</h1>
		<p class="py-2">Borey New World, Wat Samraoung Andaet is located next door to Wat Samraoung Andaet in Phnom Penh Thmei, Khan Sensok. The borey has two gates on street 1098. Enter via the centre gate next to <a href="https://goo.gl/maps/8yKxCNRo77J46XHi6">Setra Supermarket</a> and then take the first right onto street 1. The meeting point is at the park at the western end of street 1.</p>
		<p class="py-2">There is usually plenty of space to park your car or moto.</p>
		<%= image_tag "location.png", class: "mx-auto" %>
	</div>
</div>
