<% content_for :page_title, "ព័ត៌មានលម្អិតអំពីវគ្គសិក្សា" %>
<div class="justify-center items-center bg-white mx-auto rounded-lg my-4 p-4 lg:p-16">
	<h1 class="text-2xl font-medium py-2">វគ្គ</h1>
	<p class="py-2">វគ្គនេះមានទីតាំងនៅបុរីពិភពថ្មី វត្តសំរោងអណ្តែត (ភ្នំពេញ ប្រទេសកម្ពុជា)។ វាមានប្រវែង 5 គីឡូម៉ែត្រ ហើយរត់ទាំងស្រុងលើផ្លូវស្ងាត់ខាងក្នុង។ វគ្គសិក្សាមាន 3 រង្វិលជុំនៃបូរី។</p>
	<p class="py-2">វគ្គសិក្សាចាប់ផ្តើម និងបញ្ចប់នៅជិតឧទ្យាន នៅខាងក្នុងទ្វារខាងលិចដែលត្រូវបានបិទជាអចិន្ត្រៃយ៍។ ពីខ្សែបន្ទាត់ចាប់ផ្តើម ឆ្ពោះទៅទិសខាងត្បូងតាមសួនច្បារ បត់ឆ្វេងទៅផ្លូវលេខ 3 ហើយរត់តាមផ្លូវលេខ 3 ដល់ផ្លូវកណ្តាល។ បត់ឆ្វេង ហើយរត់តាមខាងស្តាំដៃនៃផ្លូវកណ្តាលឆ្ពោះទៅខ្លោងទ្វារធំ។ មុនពេលអ្នកទៅដល់ខ្លោងទ្វារធំ សូមបត់ស្តាំតាមផ្លូវលេខ 1 ហើយឆ្ពោះទៅទិសខាងកើតតាមបណ្ដោយផ្លូវលេខ 1 រហូតដល់អ្នកទៅដល់ចំណុចផ្លូវបត់ ជិតដល់ចុងផ្លូវលេខ 1 ។ បន្ទាប់ពីបត់រួច បត់ទៅទិសខាងលិចតាមបណ្ដោយផ្លូវលេខ 1 រំលងខ្លោងទ្វារទាំងសងខាង។ ផ្លូវទៅឧទ្យាន។ នៅពេលអ្នកទៅដល់ឧទ្យាន អ្នកបានបញ្ចប់រង្វិលជុំមួយ។ បត់ឆ្វេង ហើយបំពេញរង្វិលជុំពីរទៀត។ នៅចុងបញ្ចប់នៃរង្វិលជុំទីបី អ្នករត់បត់ស្តាំជំនួសឱ្យឆ្វេង ហើយឆ្ពោះទៅរកបន្ទាត់ចាប់ផ្តើម/បញ្ចប់។</p>
	<%= image_tag "course.png", class: "mx-auto" %>
</div>

<div class="justify-center items-center bg-white mx-auto rounded-lg my-4 p-4 lg:p-16">
	<h1 class="text-2xl font-medium">ទៅ​ទីនោះ​តាម​របៀប​ណា</h1>
	<p class="py-2">បុរីពិភពថ្មី វត្តសំរោងអណ្តែត មានទីតាំងនៅជាប់វត្តសំរោងអណ្តែត ក្នុងសង្កាត់ភ្នំពេញថ្មី ខណ្ឌសែនសុខ។ បុរីនេះមានខ្លោងទ្វារពីរនៅផ្លូវលេខ 1098។ ចូលតាមច្រកកណ្តាលនៅជាប់ <a href="https://goo.gl/maps/8yKxCNRo77J46XHi6">ផ្សារទំនើបសេត្រា</a> រួចបត់ស្តាំទីមួយទៅកាន់ផ្លូវលេខ 1។ ចំណុច​ប្រជុំ​គឺ​នៅ​សួន​ច្បារ​ខាងលិច​ផ្លូវ​លេខ​១ ជិត​ខ្លោង​ទ្វារ​បិទ​ជា​អចិន្ត្រៃយ៍។</p>
	<p class="py-2">ជាធម្មតាមានកន្លែងចតឡាន ឬម៉ូតូច្រើន។</p>
	<%= image_tag "location.png", class: "mx-auto" %>
</div>
