<% content_for :title, "NW5k Phnom Penh - free, weekly 5k walk/run" %>
<div class="justify-center items-center bg-white mx-auto md:rounded-lg p-4 lg:p-16 md:my-4">
  <h1 class="text-6xl text-center">New World 5k</h1>
	<p class="py-2">New World 5k is a free, fun and friendly social event. Walk, jog, run or just have a chat. All ages and abilities are welcome!</p>
  <p class="py-2">We also have a shorter 2 mile (3.2km) option for those who don't want to or can't currently complete 5km!</p>
	<h2>When?</h2>
	<p class="py-2">It's on every Saturday at 7:00am</p>
	<h2>Where?</h2>
	<p class="py-2">Meet at the park inside Borey New World, Wat Samroung Andet (Phnom Penh, Cambodia). See the <%= link_to "Course Page", course_path %> for more details.</p>
	<h2>Is it timed? Is it a race?</h2>
	<p class="py-2">The event is timed and results are recorded. See the <%= link_to "Results Page", results_path %> for previous results.</p>
	<p class="py-2">...but it's not a race. There are no prizes for finishing first, and you don't have to be a serious athlete to participate. If you want to race yourself, come every week and try to improve on your best time.</p>
	<h2>Is this a parkrun?</h2>
	<p class="py-2">No, we love parkrun® and we'd love to see it come to Cambodia but this is not an official parkrun® event! On the other hand, yes, the format of this event is heavily inspired by parkun®.</p>
  <%= image_tag "NW5k-Logo.png", aria: { hidden: true } %>
</div>
