<% content_for :title, "NW5k Phnom Penh - Free Weekly 5k Walk or Run" %>
<div class="justify-center items-center bg-white mx-auto md:rounded-lg p-4 lg:p-16 md:my-4">
  <h1 class="text-6xl text-center">New World 5k</h1>
	<p>New World 5k is a free, fun, and friendly social event. Walk, run, jog, or just chat! All ages and
abilities are welcome!</p>
  <p>We also have a shorter 2-mile (3.2 kilometer) option for those who don't want or can't complete the 5
kilometers!</p>
	<h2>When?</h2>
	<p>Every Saturday at 7:00 AM</p>
	<h2>Where?</h2>
	<p>Meet at the park inside Borey Pipob Thmey (New World City), Wat Samrong Andet (Phnom Penh, Cambodia).
See <%= link_to "Course Page", course_path %> for details.</p>
	<h2>Is it timed? Is it a race?</h2>
	<p>The event is timed, and results are recorded. See <%= link_to "Results Page", results_path %> for
previous results.</p>
  <p>...but it's not a race! There are no prizes for first place, just a big celebration if you improve your
personal best.</p>
	<h2>Is this a parkrun?</h2>
	<p>No, we love parkrun® and would love to see it come to Cambodia, but this is not an official parkrun®
event! That said, the format of the event is heavily inspired by parkrun®.</p>
</div>
