<% content_for :title, "NW5k ភ្នំពេញ - ឥតគិតថ្លៃ ដើរ ឬរត់ 5k ប្រចាំសប្តាហ៍" %>
<div class="w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto py-8">
	<div class="justify-center items-center bg-white mx-auto rounded-lg p-4 lg:p-16">
		<h1 class="text-center text-6xl font-bold text-purple-600 transition duration-500">ពិភពថ្មី 5k</h1>
		<p class="py-2">New World 5k គឺជាព្រឹត្តិការណ៍សង្គមឥតគិតថ្លៃ សប្បាយ និងមិត្តភាព។ ដើរ រត់ រត់ ឬគ្រាន់តែជជែកលេង។ គ្រប់វ័យ និងសមត្ថភាពត្រូវបានស្វាគមន៍!</p>
		<h2 class="font-bold text-purple-600">ពេលណា​?</h2>
		<p class="py-2">រៀងរាល់ថ្ងៃសៅរ៍ វេលាម៉ោង 7:00 ព្រឹក</p>
		<h2 class="font-bold text-purple-600">កន្លែងណា?</h2>
		<p class="py-2">ជួបគ្នានៅសួនច្បារខាងក្នុងបុរីពិភពថ្មី វត្តសំរោងអណ្តែត (ភ្នំពេញ ប្រទេសកម្ពុជា)។ សូមមើល <%= link_to "ទំព័រវគ្គសិក្សា", course_path %> សម្រាប់ព័ត៌មានលម្អិត។</p>
		<h2 class="font-bold text-purple-600">តើវាដល់ពេលហើយឬនៅ? តើវាជាការប្រណាំងមែនទេ?</h2>
		<p class="py-2">ព្រឹត្តិការណ៍ត្រូវបានកំណត់ពេល ហើយលទ្ធផលត្រូវបានកត់ត្រាទុក។ សូមមើល <%= link_to "ទំព័រលទ្ធផល", results_path %> សម្រាប់លទ្ធផលពីមុន។</p>
		<p class="py-2">...ប៉ុន្តែវាមិនមែនជាការប្រណាំងទេ។ មិនមានរង្វាន់សម្រាប់លើកទីមួយទេ គ្រាន់តែជាការអបអរសាទរដ៏ធំមួយ ប្រសិនបើអ្នកកែលម្អពេលវេលាដ៏ល្អបំផុតរបស់អ្នក។</p>
		<h2 class="font-bold text-purple-600">តើនេះជា parkrun មែនទេ?</h2>
		<p class="py-2">ទេ យើងស្រឡាញ់parkrun® ហើយយើងចង់ឃើញវាមកកម្ពុជា ប៉ុន្តែនេះមិនមែនជាព្រឹត្តិការណ៍parkrun®ផ្លូវការទេ! ម្យ៉ាងវិញទៀត បាទ ទម្រង់នៃព្រឹត្តិការណ៍នេះត្រូវបានបំផុសគំនិតយ៉ាងខ្លាំងដោយparkun®។</p>
	</div>
</div>
